.product-list,
.product-item {
	display:block;
	float:left;
	width:100%;
}
.product-list { 
	width:calc(100% - 30px);
	margin:45px 15px 15px 15px;
	border:1px #ebebeb solid
}
.product-item {
	padding:15px;
	border-bottom:1px #ebebeb solid
}
.product-item:hover {
	background:#f1f1f1
}

.product-item:last-of-type {
	border-bottom:0
}

.product-list button {
	padding:15px;
	color:#fff;
	background:#0361cc;
	border:0;
	cursor: pointer;
}