.search {
	display:block;
	float:left;
	width:100%;
	background:#d1dce9
}
.box {
	display:block;
	float:left;
	width:100%;
	padding:30px 15px 30px 15px;
}
.title {
	display:block;
	float:left;
	width:100%;
	padding:0 0 5px 0

}
#inputSearch,
#sendSearch {
	display:block;
	float:left;
}

#inputSearch {
	width:300px;
	height:48px;
	padding:15px;
	border:0;
	background:#fff;
	color:#666;
	outline:0;
	font-size:1em;
	font-weight:500;
}

#sendSearch {
	height:48px;
	padding:15px;
	border:0;
	background:#0361cc;
	color:#fff;
	text-transform:uppercase;
	cursor:pointer;
}